
<form id="filter">
  <label>Filter by Age <=: </label>
  <input [(ngModel)]="term" name="term" type="number" placeholder="Search">
  <label>Filter by Age >=: </label>
  <input [(ngModel)]="term2" name="term2" type="number" placeholder="Search">
</form>
<ul>
  <li *ngFor="let animal of animalList | filter:term | filter:term2">
    <h3>{{animal.Name}}</h3>
    <div><span>{{animal.Species}}</span></div>
    <div><span>{{animal.Age}}</span></div>
    <div><span>{{animal.Diet}}</span></div>
    <div><span>{{animal.Location}}</span></div>
    <div><span>{{animal.Caretakers}}</span></div>
    <div><span>{{animal.Sex}}</span></div>
    <div><span>{{animal.Likes}}</span></div>
    <div><span>{{animal.Dislikes}}</span></div>
    <button (click)="editAnimalInfo(animal)">Edit animal</button>
  </li>
</ul>
