<div *ngIf="selectedEditAnimal">
    <label>New Animal Information
      <input name="animal" placeholder="" id="animal">
      <input name="animal" placeholder="" id="animal">
      <input name="animal" placeholder="" id="animal">
      <input name="animal" placeholder="" id="animal">
      <input name="animal" placeholder="" id="animal">
      <input name="animal" placeholder="" id="animal">
      <input name="animal" placeholder="" id="animal">
      <input name="animal" placeholder="" id="animal">
      <input name="animal" placeholder="" id="animal">
      <button (click)="doneButtonClicked()">Done</button>
    </label>
</div>
